.header__container{
    max-width: 1550px;
    margin: 0 auto;
    background: #F6F6F6;
    border: 3px solid red;
    font-family: Poppins;
    padding: 0 15px 290px 15px;

}
.header__row{
    display: flex;
    justify-content: space-between;
    margin: 59px 0 203px 0;
    position: relative;
}
.header__list{
    display: flex;
    text-transform: capitalize;
    li{
        margin: 0 10px 0 0;
        font-size: 24px;
        color: #777A73;
    }
    li:last-child{
        margin: 0;
    }
}
.header__list-sec{
    display: flex;
    align-items:flex-end;
    li{
        margin: 0 10px;
    }
}
h1{
    max-width: 736px;
    font-weight: 500;
    font-size: 100px;
    line-height: 125%;
     color: #000;  
}
.header__discr{
    font-weight: 400;
    font-size: 24px;
    line-height:167%;
    color: #777A73; 
    max-width: 659px;
    margin: 50px 0;
}
.header__button{
    background: #588535;
    font-weight: 500;
    font-size: 20px;
    border: none;
    color:#fff;
    border-radius: 15px 0px 55px 0px;
    padding: 12px 25px;
}
.header__btn{
    font-weight: 500;
    font-size: 20px;
    border: none;
    color:#588535;
    border-radius: 55px 0px 15px 0px;
    padding: 12px 25px;
 }
 .header__image{
    position: absolute;
    top: 0;
    right:0;
 }