header.header   
    .header.container   
        .header__row    
            img(src="./assets/imgs/logo.png", alt="")
            #menu.header__menu.header__menu--close
                span#close.close
                    span
                menu.menu
                    a(href="#") home
                    a(href="#") contacts
                    a(href="#") about us 
                    a(href="#") click
            span#open.burger   
        .header__text
            h1 Various Indoor Plant Shop 
            p.header__sub Lorem Ipsum is simply dummy text of the printing and typesetting industry. Ipsum has been.
            button.header__button App Now 
            button.header__btn  App now